* {
  
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    flex: 1;
} 

.navbar {
    height: 5rem;
    background-color: white !important;
}


.fa-compass {
    color: #fe424d;
   
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;

}
.f-info-links, .f-info-social, .f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    font-size:1.2rem;
    margin-right: 0.6rem;
}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}



/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.list-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

 /* newListing */
.add-btn {
    background-color: #fe424d;
    color: #d5d4d4;
    font-weight: 500;
    border: none;
}   

/* css for show post  */

.show-container {
    
    
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.show-img img {
    height: 31rem;
    width: 100%;
    border-radius: 1rem;
}

.show-img  {
    display: flex;
    justify-content: center;
}

.show-detail .title {
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.show-detail .title {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.3rem;
}



.show-detail .des {
    margin-top: 0.5rem;
    font-weight: 500;
}

.show-control {
    margin-top: 1.5rem;
    margin-bottom:2rem;
    display: flex;
   
}  

.show-control .show-edit {
    margin-right: 2rem;
} 

.control-btn {
    border: none;
    background-color: #fe424d;
    color: #d5d4d4;
} 

.control-btn btn {
    margin-bottom: 1rem;
} 

.show-card {

    box-shadow: 4px 4px 10px 0px black;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.m-left { 
    margin-left: 1.5rem;
}

.show-detail div {
    margin-top: 0.5rem;
}


/* map */
/* #map { 
    height: 400px;
    width: 400px;
    bottom:1px solid black ;
} */